- title t('.title')

- if can? :create, Page
  div.right-align
    = link_to t('.new_page'), new_page_path( subdomain: 'inbox' ), class: 'btn btn-mini'

div.control-group
  label.control-label
    a class="local-action" data-toggle="collapse" data-target="#inbox_pages" = t('.all_pages')
div#inbox_pages class="collapse"
  ul
    - @pages.each do |page|
      li
        =' link_to page.title, page_path(page)
        = t('.edit_message', user: link_to( page.originator, user_path( page.originator ) ), time: l( page.updated_at, format: :timestamp ) ).html_safe

div.clear

div.well
  h3 = t('.all_comments')
  ul
  - @comments.each do |comment|
    li
      =' link_to comment.user.username, comment.user
      =' link_to t('.commented'), (page_comments_path(comment.page) + "#msg#{comment.id}")
      =' link_to comment.page.title, page_path(comment.page)
      = l( comment.created_at, format: :timestamp )

  p = will_paginate @comments, renderer: BootstrapPagination::Rails
