- title 'Invites'

div.right-align.page-tools
  = link_to 'New Invite', new_invite_path, class: 'btn btn-mini'

table.table
  tr
    th Email
    th User
    th Invited user
    th
    th
    th

  - @invites.each do |invite|
    tr
      td = invite.email
      td = link_to invite.user.username, invite.user
      td = link_to(invite.invited_user.username, invite.invited_user) if invite.invited_user
      td = link_to 'Show', invite
      td = link_to 'Edit', edit_invite_path(invite)
      td = link_to 'Destroy', invite, :confirm => 'Are you sure?', :method => :delete

