p
  h4 = @invite.email
p
  ' Owner
  = link_to @invite.user.username, @invite.user
- if @invite.invited_user
  p
    ' Invited user:
    = link_to @invite.invited_user.username, @invite.invited_user
p
  ' Invite key:
  tt = @invite.token

p
  ' Invite link:
  input value="http://scpfoundation.net/registration?invite=#{@invite.token}" style="width:80%"

= link_to 'Back', invites_path
