<div class="message" id="msg<%= message.id %>">
  <span class="time">
    <%= link_to l(message.created_at, format: :time), message, title: l(message.created_at, format: :timestamp) %>
  </span>
  <% case message.message_type %>
  <% when 'msg' %>
    <span class='nickname'>
      &lt;<%= message.nickname %>&gt;
    </span>
    <span class='content'>
      <%= inline_markdown message.content %>
    </span>
  <% when 'topic' %>
    <span class='content system'>
      <%= t('.changed_topic_to', nickname: message.nickname, topic: message.content) %>
    </span>
  <% when 'action' %>
    <span class='nickname status'>
      <%= message.nickname %>
    </span>
    <span class='content action status'>
      <%= inline_markdown message.content %>
    </span>
  <% when 'join' %>
    <span class='content status'>
      <%= t('.joined_channel', nickname: message.nickname) %>
    </span>
  <% when 'leaving'%>
    <span class='content status'>
      <%= t('.leaved_channel', nickname: message.nickname) %>
    </span>
  <% end %>
</div>
