- title "freenode#scp/#{@message.id}"

div.page-tools
  = link_to t('.back_to_the_logs'), messages_path

div.well
  = render @message

  hr

  
  = t('.sent', time: l(@message.created_at, format: :timestamp), channel: @message.channel)
  br
  = "#{t('.authname')}: #{@message.authname}" unless @message.authname.blank?
