- title t('.sign_in'), show_title = false

= simple_form_for('session', url: sessions_path, html: { class: 'form-horizontal well' }) do |f|
  legend = content_for :title

  div.inputs
    = f.input :username, label: t('activerecord.attributes.user.username'), autofocus: true
    = f.input :password, label: t('activerecord.attributes.user.password')
    /* = f.input :remember_me, as: :boolean */
  
  div.right
    = link_to t('.forgotten_password'), new_password_reset_path
    br
    = link_to t('.registration'), registration_path

  div.form-action
    = f.button :submit, t('.sign_in'), class: 'btn-primary'
