- title t('.title'), show_title = false

= simple_form_for('user', html: { class: 'form-horizontal' }, method: :patch, url: password_reset_path(params[:id])) do |f|
  legend = content_for :title

  div.form_inputs
    = f.input :password, label: t('activerecord.attributes.user.password'), required: true
    = f.input :password_confirmation, label: t('activerecord.attributes.user.password_confirmation'), required: true

  div.form_actions
    = f.button :submit, t('.password_reset'), class: 'btn-primary'
