- title t('.title'), show_title = false

= simple_form_for('user', url: password_resets_path, html: { class: 'form-horizontal well' }) do |f|
  legend = content_for :title

  div.inputs
    = f.input :username, label: t('activerecord.attributes.user.username'), autofocus: true

  div.form-action
    = f.button :submit, t('.password_reset'), class: 'btn-primary'
