div.comment*{id: "msg#{comment.id}"}
  = markdown comment.content
  div.info
    span.hidden-phone.left
      = link_to "<i class='icon-file'></i>".html_safe, page_comment_path(@page, comment)
    span.visible-phone.left
      = link_to '•', page_comment_path(@page, comment)
    =' comment_note( comment )
    =' link_to t('.edit'), edit_page_comment_path(@page, comment) if can? :edit, comment
    =' link_to t('.reply'), page_comment_path(@page, comment), class: 'reply-link'
