div#preview
  div#comment_preview_content
= simple_form_for([@page, comment], html: { class: 'form-vertical comments' }) do |f|
  = f.error_notification
  = f.input :content, input_html: { class: 'wmd-input', id: 'wmd-input' }, as: :text, label: false
  = f.input(:parent_id, as: :hidden, input_html: { value: @comment.id }) if @comment && params[:action] != 'edit'
  div.form-actions
    =' f.button :submit, class: 'btn btn-primary', value: t('.reply')
    =' link_to t('.preview'), markdown_preview_path, class: 'btn', id: 'comments_preview_button'
    =' link_to t('.cancel'), page_comments_path(@page), class: 'btn', id: 'comments_cancel_reply_button'
