= link_to t('.back').html_safe, page_comment_path(@page, @comment)
hr

== render partial: 'comments/form', locals: { page: @page, comment: @comment }

div.right-align
  - if can? :destroy, @comment
    = link_to t('.delete'), page_comment_path(@page, @comment), method: 'delete', confirm: 'Are you sure?', class: 'btn btn-mini btn-danger'

