- title @page.title
= link_to t('.back').html_safe, page_path(@page)
hr

div#comments
  = nested_comments @comments.arrange(order: :created_at).to_a
  div.nested

div#reply_form
  == render partial: 'comments/form', locals: { page: @page, comment: @page.comments.build }

div
  div#reply_block
    hr
    = link_to t('.reply_to_this_topic'), page_comments_path(@page), class: 'btn btn-mini btn-primary reply-link'

= subscribe_to "/pages/#{@page.id}/comments"
