= link_to t('.back').html_safe, page_comments_path(@page)

= nested_comments @comment.subtree.arrange(order: :created_at)

= render partial: 'comments/form', locals: { page: @page, comment: @page.comments.build }
