<% if @comment.parent_id %>
  var parent = $("#msg<%= @comment.parent_id %>");

  parent.next().append(
      "<div class='new_comment'><%= j render @comment %></div>\n<div class='nested'></div>");
<% else %>
  var last = $(".nested:last");
  last.after("<div class='new_comment'><%= j render @comment %></div>\n<div class='nested'></div>");
<% end %>

$('#msg<%= @comment.id %> p').effect("highlight", {}, 3000);
