- title 'Users with warnings'

div
  ul
    - @warnings.each do |warning|
      li
        = link_to warning[0].display_name, user_warnings_path(warning[0])
        = " (#{warning[1]})"

p = will_paginate @warnings, renderer: BootstrapPagination::Rails
