- title 'Notifications'

div.well
  - @notifications.each do |notification|

    span.left
      - if !notification.read
        b = link_to notification.content, notification
      - else
        = link_to notification.content, notification
    span.right
      = link_to t('.remove'), notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini'
    div.clear
    hr

  p = will_paginate @notifications, renderer: BootstrapPagination::Rails

  span.right
    = button_to 'Delete read', destroy_read_notifications_path, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' }
  - if @notifications.size > 0
    = button_to 'Mark as read', read_all_notifications_path, class: 'btn'
  - else
    = 'No notifications'
