- title t('.title'), show_title = false

= simple_form_for(@user, html: { method: :put, class: 'form-horizontal' }) do |f|
  legend = content_for :title
  = f.error_notification

  div.inputs
    = f.input :username, :required => true, :autofocus => true, disabled: true,
      hint: t('.cant_change_username')
    = f.input :email, :required => true, disabled: true,
      hint: t('.cant_change_email')
    = f.input :real_name
    = f.input :password
    = f.input :password_confirmation
    = f.input :about, as: :text, input_html: { class: 'wmd-input', id: 'wmd-input' }
    div#preview
      div#text_preview

  div.form-actions
    = f.button :submit, t('global.update'), class: 'btn-primary'
    | &nbsp;&nbsp;
    = link_to t('global.cancel'), @user, class: 'btn'
