- title t('.title'), show_title = false

= simple_form_for(@user, html: { class: 'form-horizontal well' }) do |f|
  legend = content_for :title

  - if params[:invite]
    - @user.invite_code = params[:invite]
    - invite = Invite.find_by_token params[:invite]
    - @user.email = invite.email if invite

  div.form_inputs
    = f.input :username, required: true, label: User.human_attribute_name(:username)
    - unless @user.email.blank?
      = f.input :email, required: true, label: User.human_attribute_name(:email), disabled: true
    = f.input :real_name, label: User.human_attribute_name(:real_name)
    = f.input :password, required: true, label: User.human_attribute_name(:password)
    = f.input :password_confirmation, requried: true, label: User.human_attribute_name(:password_confirmation)

    hr
    - @user.invite_code = params[:invite] if params[:invite]
    = f.input :invite_code, requried: true, label: t('.invite_code'), hint: 'Enter you invite code here'

  div.form-actions
    = f.button :submit, t('.sign_up'), class: 'btn-primary'
