- title "#{t('.profile')} #{@user.display_name}"

div.clear.top-tools
  - if @user.admin?
    span.pull-left
      = "#{t('global.administrator')} ♦"

  span.pull-right
    - if can? :edit, @user
      =' link_to edit_user_path(@user), class: 'btn btn-mini' do
        i.icon-pencil &nbsp;
        =' t('global.edit')
    - if can? :read, Warning
      =' link_to user_warnings_path(@user), class: 'btn btn-mini' do
        i.icon-warning-sign &nbsp;
        =' t('global.warnings')

    =' link_to root_url, class: 'btn btn-mini' do
      i.icon-comments &nbsp;
      =' t('global.comments')

    =' link_to root_url, class: 'btn btn-mini' do
      i.icon-edit &nbsp;
      =' t('global.edits')

  br


.well
  h5.pull-left = @user.real_name
  div.pull-right.muted = t('.invited_by', user: link_to(@user.invited_by.display_name, @user.invited_by)).html_safe unless @user.username == 'hatbot'

  hr.clear
  p = markdown @user.about if @user.about
  hr.clear
  div.user_labels
    - if @user.operator?
      span.label
        i.icon-cog
        = t('labels.operator')
    - if @user.staffer?
      span.label.label-info
        i.icon-eye-open
        = t('labels.staffer')
