= simple_form_for(@page, html: { class: 'form-horizontal' }) do |f|
  legend = content_for :title
  = f.error_notification

  div.form-inputs
    = f.input :title, required: true
    = f.input :content, required: true, input_html: { class: 'wmd-input', id: 'wmd-input' }, as: :text, label: t('.content')
    - @page.commit_message = '' if @page.created_at
    = f.input(:commit_message, required: false, placeholder: '') if @page.created_at?
    - if params[:action] == 'new' && params[:name] then @page.name = params[:name] end
    div.control-group
      label.control-label
        = link_to t('.options'), 'javascript: return false;', class: "local-action", 'data-toggle' => "collapse", 'data-target' => "#page_options"
        div.controls
    div#page_options class="collapse"
      - if params[:action] == 'new' && params[:name] then @page.name = params[:name] end
      = f.input :name, required: false, label: "#{@namespace.name == 'default' ? '' : (@namespace.name + '.') }scpfoundation.net/", hint: t('.page_address_hint')
      - if @namespace.access == 'private'
        - @page.access_list = @page.users.map{|u| u.username}.join(', ')
        = f.input(:access_list, required: false, label: t('.access_list'), hint: t('.access_list_hint'))
      - @page.tag_list = @page.tags.map { |t| t.name }.join(', ')
      = f.input :tag_list, required: false, hint: t('.tag_list_hint')
    


  div.form-actions
    = link_to t('.preview'), markdown_preview_path, class: 'btn', id: 'pages_preview_button'
    | &nbsp;&nbsp;
    = f.button :submit, class: 'btn btn-primary'
    | &nbsp;&nbsp;
    - if @page.created_at?
      = link_to t('.cancel'), @page, class: 'btn'
    - else
      = link_to t('.cancel'), root_url, class: 'btn'

h3#page_preview_title
div#page_preview_content
