= simple_form_for([@user, @warning], html: { class: 'form-horizontal' }) do |f|
  legend = content_for :title
  = f.error_notification

  .inputs
    = f.input :description, as: :text, input_html: { class: 'content_textarea' }
  .form-actions
    = f.button :submit, "Add warning"
