- title "#{@user.display_name} warnings"

div.top-tools = link_to "Back to the user", @user, class: 'btn btn-mini'

table.table
  tr
    th Description
    th Staffer
    th
    th
    th

  - @warnings.each do |warning|
    tr
      td = truncate(warning.description, length: 30)
      td = link_to warning.staffer.display_name, warning.staffer
      td = link_to 'Show', user_warning_path(@user, warning)
      td = link_to 'Edit', edit_user_warning_path(@user, warning)
      td = link_to 'Destroy', user_warning_path(@user, warning), :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Warning', new_user_warning_path(@user), class: 'btn btn-info'
