- title "#{@user.display_name} warning", show_title = false

p#notice = notice

p
  = link_to "Back to the #{@user.display_name} warnings", user_warnings_path(@user), class: 'btn btn-mini'
  span.pull-right
    = link_to 'Edit', edit_user_warning_path(@user, @warning), class: 'btn btn-mini'
p
  =' markdown @warning.description
p
  ' Staffer:
  = link_to @warning.staffer.display_name, @warning.staffer

