= simple_form_for @tag, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, required: true
  = f.input :description, as: :text, input_html: { class: 'content_textarea' }
  div.form-actions
    =' f.button :submit, :class => 'btn-primary'
    =' link_to t('.cancel'), tags_path, :class => 'btn'
