- title 'Tags'

table.table.table-striped
  thead
    tr
      th

  tbody
    - @tags.each do |tag|
      tr
        td = link_to tag.name, tag

= link_to t('.new'), new_tag_path, class: 'btn' if can? :create, Tag
