- title "#{@tag.name}"
div.top-tools = link_to t('.back_to_the_tags').html_safe, tags_path
- if can? :edit, @tag
  div.form-actions
    =' link_to t('.edit'), edit_tag_path(@tag), class: 'btn btn-mini'
    =' link_to t('.delete'), @tag, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'

div = markdown @tag.description unless @tag.description.blank?

h4 =' t('.pages')

ul
- @tag.pages.each do |page|
  - if can? :read, page
    li = link_to page.title, page_path(page, subdomain: page.namespace.name)
