= simple_form_for([@page, (@vote || Vote.new)], html: { class: 'form-inline form-vote' }) do |f|
  = f.error_notification

  = f.input_field :value, collection: [[t('.negative'), -1], [t('.neutral'), 0], [t('.positive'), 1]], as: :radio_buttons, class: 'mini'

  - if current_user.staffer? || current_user.admin?
    span
      = f.label :staff do
        = f.input_field :staff, as: :boolean
        =' t('activerecord.attributes.vote.staff')

  /* - if current_user.admin? */
  /*   span */
  /*     = f.label :admin do */
  /*       = f.input_field :admin, as: :boolean */
  /*       =' t('activerecord.attributes.vote.admin') */

  br

  = f.button :submit, value: ((@vote && @vote.created_at?) ? t('.update') : t('.vote')), class: 'btn btn-primary'
