li
  - if vote.value == 1
    span.badge.badge-success
      | +
    | &nbsp;
  - elsif vote.value == 0
    span.badge.badge
      | ~
    | &nbsp;
  - else
    span.badge.badge-important
      | -
    | &nbsp;

  =' link_to vote.user.display_name, vote.user

  - if vote.admin
    ' ♦
  - elsif vote.staff
    ' •

  - if current_user.admin?
    = "(#{vote.result.to_i})"
