- title "#{@page.title}"

p
  = link_to t('.page').html_safe, @page

div.well
  p
    =' t('.page_rating')
    = @page.rating.to_i
  - unless @page.translation
    p
      =' t('.staff_rating')
      = @page.staff_rating.to_i
    p
      =' t('.admin_rating')
      = @page.admin_rating.to_i
  = if @namespace.access != 'everyone' && @page.rating >= 8.0 && @page.staff_rating >= 4.0 && @page.admin_rating >= 1.0
    p
      =' t('.publishing', :link => link_to( t('.requests'), '/meta/requests' ) )

= render 'form'

p
  - if @vote
    = link_to t('.remove'), page_vote_path(@page, @vote), class: 'btn btn-mini', method: :delete, confirm: t('global.are_you_sure')

ul
  = render partial: 'vote', collection: @votes

