footer
  div.pull-left
    a href='#' =' t('.up')
    span class="hidden-phone"
      '• 
      a href='#' class="toggle_sidebar" = t('.navigation')
  div.pull-right
    ' &copy; scp foundation networks;
    div.clear.visible-phone
    'site content
    = link_to 'by-nc-sa', 'http://creativecommons.org/licenses/by-nc-sa/3.0/'
    ';
    div.clear.visible-phone
    = ENV['GIT_TAG'] || `git describe --always` || ''

  - if Rails.env.development?
    div#footnotes_holder
