header.navbar.nabar-fixed-top
  nav.navbar-inner
    div.container-fluid
      /* a id='menuButton' class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse' */
      /*   span.icon-bar */
      /*   span.icon-bar */
      /*   span.icon-bar */
      a.brand href=root_url(subdomain: false)
        /* img src="/scplogo.png" class="imglogo" */
        ' SCP Foundation
      - if @namespace.title && @namespace.name != 'default' && @namespace.title != 'SCP Foundation'
        = link_to @namespace.title, root_url, class: 'brand namespace-brand'
      = render partial: 'layouts/main_navigation'
