div.container-fluid
  ul.nav
    - if current_user
      li.dropdown
        a.dropdown-toggle id="drop_pages" role="button" data-toggle="dropdown" data-target="#"
          = t('.pages')
          b.caret
        ul.dropdown-menu role="menu" area-labelledby="dLabel"
          li = link_to t('.drafts'), "#{root_url(subdomain: 'drafts')}pages"
          li = link_to t('.sandbox'), root_url(subdomain: 'sandbox')
          li = link_to t('.new_pages'), new_pages_url
          li = link_to t('.recent_edits'), recent_edits_url

    - if current_user
      li.dropdown
        a.dropdown-toggle id="drop_inbox" role="button" data-toggle="dropdown" data-target="#"
          = t('.comments')
          b.caret
        ul.dropdown-menu role="menu" area-labelledby="dLabel"
          li = link_to t('.new_comments'), recent_comments_url
          /* li = link_to t('.inbox'), "#{root_url(subdomain: 'inbox')}pages" */

    li.visible-phone
      a href='#' class='toggle_sidebar' = t('.navigation')

  ul.nav.pull-right.user-nav
    - if current_user
      li = link_to current_user do
        | <span class='icon-user' style='font-size:10pt'></span>
        = current_user.display_name
      li#notifications_counter_box = link_to notifications_url(subdomain: false) do
        ' <span class='icon-inbox'></span>
        span#notifications_counter = unread_notifications
      li = link_to t('.sign_out'), logout_path
    - else
      li = link_to t('.sign_in'), login_path

/*     - if user_signed_in? */
/*       li = link_to current_user do */
/*         ' <span class='icon-user' style='font-size:10pt'></span> */
/*         = current_user.display_name(true) */
/*       li = link_to destroy_user_session_url(subdomain: false), method: 'delete', id: :logout do */
/*         ' <span class='icon-signout'></span> */
/*         = t('.sign_out') */
/*     - else */
/*       li = link_to new_user_session_path do */
/*         ' <i class="icon-signin"></i> */
/*         = t('.sign_in') */
    /* form.navbar-search */
    /*   input type='text' class='search-query' placeholder='Search' */
