div.span3#sidebar
  div.well.sidebar-nav
    ul.nav.nav-list
      li.nav-header
        = t('.navigation')
        li = link_to t('.objects'), page_url('scp-list', subdomain: false)
        - if current_user
          li = link_to t('.sandbox'), root_url(subdomain: 'sandbox')
          li = link_to t('.forum'), root_url(subdomain: 'talks')

      li.nav-header
        = t('.additional')
        li = link_to t('.experiment_logs'), page_url('experiment-logs', subdomain: false)
        li = link_to t('.incident_reports'), page_url('incident-reports', subdomain: false)
        li = link_to t('.interviews'), page_url('eye-witness-interviews', subdomain: false)
        li = link_to t('.other'), page_url('other', subdomain: false)
        li = link_to t('.stories'), page_url('stories', subdomain: false)
        li = link_to t('.tags'), tags_path
        /* li = link_to 'Top articles', '/pages/top' */
        /* li = link_to 'Random page', '/pages/random' */
        li = link_to t('.faq'), (root_url(subdomain: 'meta') + 'faq') if current_user && current_user

      - if current_user
        li.nav-header
          = t('.updates')
          li = link_to t('.new_comments'), '/comments'
          li = link_to t('.new_pages'), '/new_pages'
          li = link_to t('.recent_edits'), '/edits'
          li = link_to t('.irc_logs'), messages_path(subdomain:'')
