doctype html
html lang='ru'
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    title = content_for?(:title) ? yield(:title) : "SCP Foundation"
    = csrf_meta_tags
    == yield :head

    /[ if lt IE 9 ]
      script src='http://html5shim.googlecode.com/svn/trunk/html5.js' type='text/javascript'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'

  body
    - if current_user
      = subscribe_to "/notifications/#{current_user.username}"

    = render partial: 'layouts/header'

    div.container-fluid

      div.row-fluid

        = render partial: 'layouts/sidebar_navigation'

        div.span9#content-block
          = bootstrap_flash
          div#content-wrap
            = content_tag :h2, yield(:title), id: 'page-title' if show_title?
            = yield


    = render partial: 'layouts/footer'



